name: Build & push to Azure Container Registry

# Builds an image using the project's Dockerfile, and pushes it
# to ACR (Azure Container Registry) repository.

on:
  workflow_call:
    inputs:
      tags:
        type: string
        required: false
        default: latest
      repository-name:
        type: string
        required: true
    secrets:
      github-token:
        required: true
      acr-login-server:
        required: true
      acr-username:
        required: true
      acr-password:
        required: true
      build-args:
        required: false

jobs:
  build:
    name: Build & push
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build push
        uses: dronetag/gha-shared/.github/actions/build-push-acr@master
        env:
          tags: ${{ inputs.tags }}
          repository-name: ${{ inputs.repository-name }}
          github-token: ${{ secrets.github-token }}
          acr-login-server: ${{ secrets.acr-login-server }}
          acr-username: ${{ secrets.acr-username }}
          acr-password: ${{ secrets.acr-password }}
          build-args: ${{ secrets.build-args }}
        with: 
          tags: ${{ inputs.tags }}
          repository-name: ${{ inputs.repository-name }}
          github-token: ${{ secrets.github-token }}
          acr-login-server: ${{ secrets.acr-login-server }}
          acr-username: ${{ secrets.acr-username }}
          acr-password: ${{ secrets.acr-password }}
          build-args: ${{ secrets.build-args }}
          actor: github.actor
          