name: Release a new version

# This workflow runs the semantic-release tool
#
# The semantic-release tool analyses the latest commits and figures out
# how the version should be bumped and creates a git tag accordingly.

on:
  workflow_call:
    inputs:
      must-release:
        required: false
        type: boolean
        default: false
      node-version:
        required: false
        type: string
        default: "18"
      install-changelog-plugin:
        type: boolean
        default: false
    secrets:
      github-token:
        required: true
    outputs:
      version:
        description: Released version (commit tag)
        value: ${{ jobs.release.outputs.version }}

jobs:
  release:
    name: Run semantic-release
    runs-on: ubuntu-20.04
    outputs:
      version: ${{ steps.export.outputs.version }}
    steps:
      - name: Checkout repository (full-depth)
        uses: actions/checkout@v2
        with: { fetch-depth: 0 } # Required to determine version
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ inputs.node-version }}
      - run: npm install --global semantic-release@21
      - if: ${{ inputs.install-changelog-plugin }}
        run: npm install --global @semantic-release/git @semantic-release/changelog
      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}
        run: semantic-release
      - name: Export released version
        id: export
        run: echo "::set-output name=version::$(git describe --tags)"
      - name: Make sure a version has been released
        if: inputs.must-release
        run: git describe --tags --exact-match
